<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My View</title>
    <style>
        /* latin-ext */


        .flex {
            display: flex; align-items: center;
        }

        .text-big {

            font-size: 40px; font-family: "DM Sans", serif;
        }

        .text-medium {
            font-size: 26px;
            font-family: "DM Sans", serif;
            font-weight: 700;
        }

        .text-small {
            font-size: 20px;
            font-family: "DM Sans", serif;
        }


    </style>
</head>
<body>

<table style="font-family: Tahoma, Verdana, serif; font-size: 20px;">
    <tr style="">
        <td style="font-size: 40px; padding:0 300px 0 0;"><%= name %></td>
        <td>
            <div style="display: flex; align-items: center;">
                <img width="50" height="56" src="https://138.3.250.23/public/logo/daftcode_logo_winter.svg" alt=""/>
                <img width="142" height="27" src="https://138.3.250.23/public/logo/daftcode_logo_title.svg" alt=""/>
            </div>
        </td>
    </tr>
    <tr>
        <td style="font-size: 26px; color: #0AD560; font-weight: 500"><%= position %></td>
    </tr>
    <tr style="position: relative; top: 25px; vertical-align: bottom;">
        <td>
            <%= phoneNumber %>
            <br>
            <%= email %>
        </td>
        <td style="width: 194px;">
            <div style="font-size: 14px; text-decoration: underline; margin-bottom: 10px; text-align: right;">
                Plac Europejski 1
                <br>
                00-844, Warszawa
            </div>
            <div style="display: flex; justify-content: right; position: relative;">
                <div style="gap: 20px">
                    <img width="35" height="35" src="https://138.3.250.23/public/social/social_facebook.svg" alt=""/>
                    <img width="35" height="35" src="https://138.3.250.23/public/social/social_instagram.svg" alt=""/>
                    <img width="35" height="35" src="https://138.3.250.23/public/social/social_linkedin.svg" alt=""/>
                    <img width="35" height="35" src="https://138.3.250.23/public/social/social_twitter.svg" alt=""/>
                </div>

            </div>
        </td>
    </tr>
</table>



</body>
</html>
