<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My View</title>
</head>
<body>

<table style="font-family: Helvetica, Tahoma, Verdana, serif; font-size: 10px; font-weight: 100;">
    <tr style="">
        <td style="font-size: 20px; padding:0 400px 0 0;">
            <font face="tahoma, verdana, sans-serif"><%= name %></font>
        </td>

        <td>
            <div style="display: flex; align-items: center;">
                <img width="25" height="23" src="https://138.3.250.23/public/logo/daftcode_logo_winter.png" alt=""/>
                <img width="71" height="13" src="https://138.3.250.23/public/logo/daftcode_logo_title.svg" alt=""/>
                <img width="71" height="13" src="https://138.3.250.23/logo" alt=""/>
            </div>
        </td>

    </tr>
    <tr>
        <td style="font-size: 13px; color: #0AD560; font-weight: 500">
            <font face="tahoma, verdana, sans-serif"><%= position %></font>
        </td>
    </tr>
    <tr style="position: relative; top: 12px; vertical-align: bottom;">
        <td>
            <%= phoneNumber %>
            <br>
            <%= email %>
        </td>
        <td style="width: 97px;">
            <div style="font-size: 7px; text-decoration: underline; margin-bottom: 5px; text-align: right;">
                Plac Europejski 1
                <br>
                00-844, Warszawa
            </div>
            <div style="display: flex; justify-content: right; position: relative;">
                <div style="display: flex; gap: 15px;">
                    <img width="12" height="12" src="https://138.3.250.23/public/social/social_facebook.svg" alt=""/>
                    <img width="13" height="11" src="https://138.3.250.23/public/social/social_instagram.svg" alt=""/>
                    <img width="12" height="12" src="https://138.3.250.23/public/social/social_linkedin.svg" alt=""/>
                    <img width="12" height="11" src="https://138.3.250.23/public/social/social_twitter.svg" alt=""/>
                </div>

            </div>
        </td>
    </tr>
</table>



</body>
</html>
